{% extends 'base.html.twig' %}

{% block title %}Project{% endblock %}

{% block body %}
    <h1>Project</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ project.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ project.title }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ project.image }}</td>
            </tr>
            <tr>
                <th>FilenameOrUrl</th>
                <td>{{ project.filenameOrUrl }}</td>
            </tr>
            <tr>
                <th>Number_of_tasks</th>
                <td>{{ project.numberOfTasks }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ project.description }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ project.status }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_projects_index') }}" class="btn btn-info">back to list</a>

    <a href="{{ path('app_projects_edit', {'id': project.id}) }}" class="btn btn-primary">edit</a>

    {{ include('projects/_delete_form.html.twig') }}
{% endblock %}
